body{
    background-color: lightblue;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form_card{
    background-color: white;
    padding: 3rem;
    border-radius: 20px;
}

.form_input{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input{
    border: 1px solid black;
    width: 400px;
    height: 45px;
    font-size: 16px;
    padding-left: 10px;
    font-family:'Courier New', Courier, monospace;
}

.submit_btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit_btn_actual{
    background-color: rgb(0, 191, 255);
    width: 250px;
    height: 60px;
    border-radius: 20px;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
}

.already{
    display: flex;
    align-items: center;
    justify-content: center;
}

.already-p{
    font-size: 15px;
}

a{
    color: purple;
    font-weight: bold;
}